<h1>Todos#index</h1>
<p>Find me in app/views/todos/index.html.erb</p>
<% @todos.each_slice(4) do |todos| %>
  <div class="row">
    <% todos.each do |todo| %>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag todo.picture, class:'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title"><%= todo.name %></h5>
          <%= link_to 'Ver', todo_show_path(todo), class:'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>
<% end %>
