<h1>Todos#show</h1>
<p>Find me in app/views/todos/show.html.erb</p>
<div class="card" style="width: 18rem;">
  <%= image_tag @todo.picture, class:'card-img-top' %>
  <div class="card-body">
    <h3 class="card-title"><%= @todo.name %></h3>
    <h5>Usuarios listos:</h5>
    <ul>
      <% @ready_users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
    <%= link_to '<<Volver', root_path, class:'btn btn-secondary' %>
  </div>
</div>
